* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Sniglet", system-ui;
  font-weight: 400;
  font-style: normal;
  color:rgb(68, 44, 29);
  min-height: 100vh;
  background: rgb(209, 173, 132);
  font-size: 20px;
}

h1{
  font-family: "Sniglet", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}

h2{
  font-family: "Sniglet", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}


.greeting-icon {
  background-image: url("cozy_goat_stickers/goat_star.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
}

.app {
  position: relative;
  max-width: 1200px;
  margin: auto;
  /* background: url('images/Без\ названия\ \(4\).jfif'); */
  /* border-radius: 25px;
    border-style: dashed;
    border-color: beige; */
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.intro {
  margin-bottom: 50px;
}

.content {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-bottom: 100px;
}

.greeting-icon-date {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tasks-card {
  background-color: bisque;
  border-radius: 24px;
  width: 400px;
  padding: 25px;
}

.progress-card {
  background-color: bisque;
  border-radius: 24px;
  width: 300px;
  padding: 15px;
}

footer {
  margin-bottom: 20px;
  margin-left: 20px;
}

.decor {
  position: absolute;
}
.goat {
  width: 200px;
  z-index: 10;
  pointer-events: none;
}
.goat-1 {
  left: 600px;
}
.goat-2 {
  top: 380px;
  left: 950px;
}
.goat-3{
    top: 350px;
}
